lim-project/force-app/main/default/flows/AP_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_AP</name>
        <label>Assign Values to AP</label>
        <locationX>495</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>authProviderRecordVariable.ConsumerKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customSettingsVariable.Client_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authProviderRecordVariable.ConsumerSecret</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customSettingsVariable.Client_Secret__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authProviderRecordVariable.DefaultScopes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customSettingsVariable.Scopes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authProviderRecordVariable.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customSettingsVariable.AP_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authProviderRecordVariable.FriendlyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customSettingsVariable.AP_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authProviderRecordVariable.ProviderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LinkedIn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AP_Record_Created</targetReference>
        </connector>
    </assignments>
    <interviewLabel>AP Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AP_Record_Created</name>
        <label>AP Record Created</label>
        <locationX>707</locationX>
        <locationY>95</locationY>
        <inputReference>authProviderRecordVariable</inputReference>
    </recordCreates>
    <start>
        <locationX>38</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Assign_Values_to_AP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>authProviderRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AuthProvider</objectType>
    </variables>
    <variables>
        <name>customSettingsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LinkedIn_AP_NC_Settings__c</objectType>
    </variables>
</Flow>
