lim-project/force-app/main/default/flows/AP_NC_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_CS_Variable</name>
        <label>Assign CS Variable</label>
        <locationX>1357</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.AP_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.AP_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apDeveloperNameGenerator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.Client_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.Client_Secret__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Secret</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.Marketing_Developer_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Developer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.NC_Authenticated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.NC_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.NC_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ncDeveloperNameGenerator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.Share_On_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Share_On</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.Sign_In_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sign_In</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.SetupOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customSettingsRecordVariable.Scopes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scopesGenerator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custom_Settings</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://api.linkedin.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>marketingScopes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>rw_organization_admin w_organization_social r_organization_social w_member_social rw_ads r_ads r_ads_reporting r_1st_connections r_ads_leadgen_automation rw_dmp_segments_r_basicprofilesize </stringValue>
        </value>
    </constants>
    <constants>
        <name>shareOnScope</name>
        <dataType>String</dataType>
        <value>
            <stringValue>w_member_social</stringValue>
        </value>
    </constants>
    <constants>
        <name>signinScope</name>
        <dataType>String</dataType>
        <value>
            <stringValue>r_liteprofile r_emailaddress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_AP_NC_Stored</name>
        <label>Check for AP NC Stored</label>
        <locationX>616</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Get_AP_NC_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Exists</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Settings.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AP_NC_Status</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_NC_AP_name_existence</name>
        <label>Check for NC, AP name existence</label>
        <locationX>1470</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Assign_CS_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NC, AP name does not exists</defaultConnectorLabel>
        <rules>
            <name>NC_name_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_for_NC.DeveloperName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error_for_NC_name_Existence</targetReference>
            </connector>
            <label>NC name exists</label>
        </rules>
        <rules>
            <name>AP_name_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_for_AP.DeveloperName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error_for_AP_Name_existence</targetReference>
            </connector>
            <label>AP name exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_Status_Update</name>
        <label>Decision For Status Update</label>
        <locationX>373</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>AP Created</defaultConnectorLabel>
        <rules>
            <name>Create_AP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fetchedCustomSettings.AP_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AP_Subflow</targetReference>
            </connector>
            <label>Create AP</label>
        </rules>
    </decisions>
    <formulas>
        <name>apDeveloperNameGenerator</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Name_for_Auth_provider}, &apos; &apos;, &apos;_&apos;)</expression>
    </formulas>
    <formulas>
        <name>ncDeveloperNameGenerator</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Name_for_Named_Credentials}, &apos; &apos; ,&apos;_&apos;)</expression>
    </formulas>
    <formulas>
        <name>scopesGenerator</name>
        <dataType>String</dataType>
        <expression>IF({!Marketing_Developer}, {!marketingScopes}&amp;&apos; &apos;, &apos;&apos;) &amp; IF({!Share_On}, {!shareOnScope}&amp;&apos; &apos;, &apos;&apos;) &amp; IF({!Sign_In}, {!signinScope}&amp;&apos; &apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>AP NC Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP NC Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Custom_Settings</name>
        <label>Create Custom Settings</label>
        <locationX>1112</locationX>
        <locationY>542</locationY>
        <inputReference>customSettingsRecordVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>451</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_AP_NC_Stored</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LinkedIn_AP_NC_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_for_AP</name>
        <label>Get Records for AP</label>
        <locationX>1429</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_NC_AP_name_existence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apDeveloperNameGenerator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthProvider</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_for_NC</name>
        <label>Get Records for NC</label>
        <locationX>1184</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_for_AP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ncDeveloperNameGenerator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NamedCredential</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AP_NC_Status</name>
        <label>AP NC Status</label>
        <locationX>752</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_For_Status_Update</targetReference>
        </connector>
        <fields>
            <name>apncStatusText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;AP Created: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!fetchedCustomSettings.AP_Created__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;NC Created: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!fetchedCustomSettings.NC_Created__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;NC Authenticated:&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!fetchedCustomSettings.NC_Authenticated__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Created_AP_Status</name>
        <label>Created AP Status</label>
        <locationX>161</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>createdApStatus</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(2, 144, 11);&quot;&gt;AP Created Successfully!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please copy the following callback URL to be pasted in your LinkedIn App.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_AP_NC_Info</name>
        <label>Get AP NC Info</label>
        <locationX>952</locationX>
        <locationY>67</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Records_for_NC</targetReference>
        </connector>
        <fields>
            <name>Get_AP_NC_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Get_AP_NC_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_for_Auth_provider</name>
                    <dataType>String</dataType>
                    <fieldText>Name for Auth provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Client_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Client ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Get_AP_NC_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_for_Named_Credentials</name>
                    <dataType>String</dataType>
                    <fieldText>Name for Named Credentials</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Client_Secret</name>
                    <fieldText>Client Secret</fieldText>
                    <fieldType>PasswordField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>productInfoLabel</name>
            <fieldText>&lt;p&gt;Choose Products:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Get_AP_NC_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Get_AP_NC_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sign_In</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Sign In</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Get_AP_NC_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Share_On</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Share On</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Get_AP_NC_Info_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Marketing_Developer</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Marketing Developer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error_for_AP_Name_existence</name>
        <label>Show Error for AP Name existence</label>
        <locationX>1081</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_AP_NC_Info</targetReference>
        </connector>
        <fields>
            <name>errorTextForAPName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Auth Provider with name &quot;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Name_for_Auth_provider}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;&quot; already exists.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please provide a unique name for the same, or Contact your Administrator!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error_for_NC_name_Existence</name>
        <label>Show Error for NC name Existence</label>
        <locationX>1190</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_AP_NC_Info</targetReference>
        </connector>
        <fields>
            <name>errorTextForNCName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Named Credential with name &quot;{!Name_for_Named_Credentials}&quot; already exists.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please provide a unique name for the same, or Contact your Administrator!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_AP_Subflow</name>
        <label>Create AP Subflow</label>
        <locationX>161</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Created_AP_Status</targetReference>
        </connector>
        <flowName>AP_Creator</flowName>
        <inputAssignments>
            <name>customSettingsVariable</name>
            <value>
                <elementReference>fetchedCustomSettings</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>authProviderRecordVariable</assignToReference>
            <name>authProviderRecordVariable</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>authProviderRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AuthProvider</objectType>
    </variables>
    <variables>
        <name>customSettingsRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LinkedIn_AP_NC_Settings__c</objectType>
    </variables>
    <variables>
        <name>fetchedCustomSettings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LinkedIn_AP_NC_Settings__c</objectType>
    </variables>
</Flow>
